@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');

:root {
	--font-main: 'Space Grotesk', sans-serif;

	--black: #000;
	--white: #FFF;
	--accent: #B9FF66;
	--accent-dark: #191A23;
	--accent-gray: #F3F3F3;
}

@mixin desctop-s {
	@media (max-width: 1120px) {
    @content;
  }
} 

@mixin tablet {
	@media (max-width: 841px) {
    @content;
  }
} 

@mixin phone {
	@media (max-width: 599px) {
    @content;
  }
} 