// .header {
// }

.header__navigation {
  padding-top: clamp(30px, 1.243rem + 3.16vw, 60px);
}

.header__content {
  margin-top: clamp(40px, 1.868rem + 3.16vw, 70px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'title image'
    'subtitle image'
    'button image';
  // column-gap: clamp(40px, 1.068rem + 7.16vw, 108px);

  @include tablet {
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-areas:
      'title'
      'image'
      'subtitle'
      'button';
  }

  @include phone {
    text-align: left;
  }
}

.header__title {
  // max-width: 531px;
  font-size: clamp(43px, 2.33rem + 1.79vw, 60px);
  font-weight: 500;
  grid-area: title;
  margin-bottom: 35px;
}

.header__subtitle {
  // max-width: 531px;
  font-size: clamp(16px, 0.916rem + 0.42vw, 20px);
  line-height: 28px;
  grid-area: subtitle;
  margin-bottom: 35px;
}

.header__button {
  // max-width: 531px;
  grid-area: button;
}

.header__image {
  align-self: stretch;
  justify-self: end;
  grid-area: image;

  @include tablet {
    justify-self: center;
    max-height: 350px;
  }

  @include phone {
    justify-self: start;
  }
}

.header__brands {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 20px;
  margin-top: clamp(50px, 2.704rem + 2.11vw, 70px);

  &::before,
  &::after {
    content: '';
    height: 100%;
    top: 0;
    width: 10%;
    position: absolute;
    z-index: 1;
    pointer-events: none;
  }

  &::before {
    left: 0;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &::after {
    right: 0;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  }
}

.header__brands-wrap {
  flex-shrink: 0;
  display: flex;
  gap: 20px;
  counter-reset: item;
  justify-content: space-around;
  min-width: 100%;
  mix-blend-mode: luminosity;
}

.marquee {
  animation: scroll 15s linear infinite;
}

.header__brand-img {
  mix-blend-mode: luminosity;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}
