.nav-list {
  display: flex;
  gap: 40px;
  align-items: center;
  min-height: 68px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

// .nav-list__item {
// }

.nav-list__link {
  color: var(--black);
  position: relative;
  white-space: nowrap;

  &::after {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    background: var(--accent-dark);
    width: 0;
    transition: 0.3s;
    left: 50%;
    transform: translateX(-50%);
  }

  &:hover::after {
    width: 100%;
  }
}

.nav-list__button {
  color: var(--black);
  padding: 20px 35px;
  border-radius: 14px;
  border: 1px solid var(--accent-dark);
  transition: 0.3s;

  &:hover {
    background-color: var(--accent-dark);
    color: var(--white);
  }
}
