.sercices {
}

.services__headline {
  padding-top: clamp(60px, 2.066rem + 8.42vw, 140px);
  padding-bottom: clamp(40px, 1.553rem + 4.74vw, 85px);
}

.services__list {
  display: grid;
  grid-template-columns: repeat(2, 6fr);
  gap: 40px;

  @include tablet {
    grid-template-columns: 1fr;
  }
}
