.testimonials__slider {
  padding-top: 85px;
  padding-bottom: 65px;
  border-radius: 45px;
  background-color: var(--black);

  @include phone {
    padding-top: 30px;
    padding-bottom: 60px;
  }
}
