.contact__form {
  border-radius: 45px;
  background: var(--accent-gray);
  padding: 60px 100px 80px 100px;
  background-image: url(./../img/form-background.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 23%;

  @include desctop-s {
    background-size: 26%;
  }

  @include tablet {
    padding: 40px 30px;
    background-image: none;
  }
}